{% extends "WEILogisticManagerAdminBundle::layout.html.twig" %}

{% block content %}
    {% if places is empty %}
        <p>You don't have any places yet, please create one : </p>
        <a class="btn btn-success btn-large" href="{{ path('_admin_places_create') }}">Create A Place</a>

    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for place in places %}
                <tr>
                    <td>{{ place.name }}</td>
                    <td>
                        <a class="btn" href="{{ path('_admin_places_update', {id : place.id}) }}">Update</a>
                        <a class="btn btn-danger" href="{{ path('_admin_places_delete', {id : place.id}) }}" onclick="return confirm('Are you sure ?')">Delete</a>
                    </td>
                </tr>
            {%  endfor %}
            <tr>
                <td colspan="5"><a class="btn btn-success btn-block" href="{{ path('_admin_places_create') }}">Create A Place</a></td>
            </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}