{% extends "WEILogisticManagerAdminBundle::layout.html.twig" %}

{% block content %}
    <h1>Welcome to the WEI Logistic Manager dashboard</h1>

    {% if events is empty %}
        <p>You don't have any events yet, please create one : </p>
        <a class="btn btn-success btn-large" href="{{ path('wei_logistic_manager_admin_homepage_createevent') }}">Create An Event</a>

    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Place</th>
                    <th>Begin date</th>
                    <th>End date</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.name }}</td>
                        <td>{{ event.place }}</td>
                        <td>{{ event.beginDate | date("d/m/Y h:m") }}</td>
                        <td>{{ event.endDate | date("d/m/Y h:m") }}</td>
                    </tr>
                {%  endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}