{% extends "WEILogisticManagerAdminBundle::layout.html.twig" %}

{% block content %}
    <h1>Welcome to the WEI Logistic Manager dashboard</h1>

    {% if events is empty %}
        <p>You don't have any events yet, please create one : </p>
        <a class="btn btn-success btn-large" href="{{ path('_admin_homepage_event_create') }}">Create An Event</a>

    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Place</th>
                    <th>Begin date</th>
                    <th>End date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.name }}</td>
                        <td>{{ event.place }}</td>
                        <td>{{ event.beginDate | date("d/m/Y h:m") }}</td>
                        <td>{{ event.endDate | date("d/m/Y h:m") }}</td>
                        <td>
                            <a class="btn" href="{{ path('_admin_homepage_event_udpate', {id : event.id}) }}">Update</a>
                            <a class="btn btn-danger" href="{{ path('_admin_homepage_event_delete', {id : event.id}) }}" onclick="return confirm('Are you sure ?')">Delete</a>
                        </td>
                    </tr>
                {%  endfor %}
                <tr>
                    <td colspan="5"><a class="btn btn-success btn-block" href="{{ path('_admin_homepage_event_create') }}">Create An Event</a></td>
                </tr>
            </tbody>
        </table>
    {% endif %}

{% endblock %}